

.disabled {color: #d3d3d3}
#minutepicker div, #hourpicker div {
    float: left;
    border: 1px solid darkgray;
    padding: 5px;
    margin: 2px;
    width: 32px;
    height: 32px;
}
#minutepicker div:hover, #hourpicker div:hover {
    background: #DEDEDE;
}
#minutepicker div.selected, #hourpicker div.selected {
    background: #CCCCFF;
}

#newdatetime {  height: 50px}

#steps div {
    font-size: 24px;
    color: #999;
    float: left;
    margin-right: 32px;
}

h1,h2,p {
    clear: both;
}

#steps div.selected {
    color: #111;
}



body {
    background: url('brotime.png');
    background-size: cover;

}

#logo {
    font-size: 72pt;
    font-family: "Comic Sans MS", cursive;
}

.container {
    background-color:rgba(255,255,255,0.8);
    height: 100%;
    min-height: 1000px;
}

.day { clear: both;  width: 300px; padding-left: 2em;}
.classofdays { clear: both; border-top: 1px dotted #ccc;}
.day .dayname { float: left; }

div.option {
    float: right;
    width: 36px; height: 36px;
    -webkit-filter: grayscale(100%);

}

.option.selected, .option:hover {
    -webkit-filter: grayscale(0%);
}

table td, table th { padding: 16px;}
thead th.option {
    width: 36px; height: 36px;
}
tbody td { text-align: center;}
.yes { background: url('/yes.jpg') no-repeat center;}
.yesmaybe { background: url('/yesmaybe.jpg') no-repeat center;}
.nomaybe {background: url('/nomaybe.jpg') no-repeat center;}
.no { background: url('/no.jpg') no-repeat center;}

button {
    clear: both;

}

#confirm_button { margin-top: 100px;}

#chosenones { clear: both;}